@model WebAppCore.Models.Test

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<a href="~/Views/EditTests/Delete.cshtml">~/Views/EditTests/Delete.cshtml</a>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRun)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRun)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ecu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ecu.EcuModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TestId" />
        <input type="hidden" asp-for="TestVersion" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
