@model IEnumerable<WebAppCore.Models.Test>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Add Test
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Test ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecu)
            </th>
            <th>
                Tester
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <form asp-action="AddTestsConfirmed">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@item.TestId" name="TestId" />
                        <input type="hidden" asp-for="@ViewData["BatchId"]" name="BatchId" />
                        <input type="hidden" asp-for="@ViewData["BatchVersion"]" name="BatchVersion" />
                        <input type="submit" value="Add" class="btn btn-default" />
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ecu.EcuModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
