@model IEnumerable<WebAppCore.Models.Batch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search Options</h3>
    </div>
    <div class="panel-body">
        <form method="post" accept-charset="utf-8" class="form" role="form">
            <div class="col-lg-3">
                Batch ID
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." name="BatchId">
                </div>
            </div>
            <div class="col-lg-3">
                Batch Name
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." name="BatchName">
                </div>
            </div>
            <div class="col-lg-3">
                Simulator
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." name="SimId">
                </div>
            </div>
            <div class="col-lg-3">
                ECU
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." name="Ecu">
                </div>
            </div>
            <div class="col-lg-3">
                Tester
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." name="Tester">
                </div>
            </div>
            <div class="col-lg-3">
                <div>Status</div>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="checkbox" name="Queued" value="true" autocomplete="off" checked="checked"> Queued
                    </label>
                    <label class="btn btn-primary active">
                        <input type="checkbox" name="Running" value="true" autocomplete="off" checked="checked"> Running
                    </label>
                    <label class="btn btn-primary active">
                        <input type="checkbox" name="Complete" value="true" autocomplete="off" checked="checked"> Complete
                    </label>
                </div>
            </div>
            <div class="col-lg-3" style="padding-top:20px">
                <button asp-action="Index" class="btn btn-default" type="submit" asp-route-search="true">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Filtered Queue</div>

    <!-- Table -->
    <form method="post" accept-charset="utf-8" class="form" role="form">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Batch ID</th>
                    <th>Batch Name</th>
                    <th>Simulator</th>
                    <th>ECU</th>
                    <th>Tester</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Display == 1)
                    {
                        if (item.Status == "Queued")
                        {@Html.Raw("<tr class='warning'>")}
                        else if (item.Status == "Running")
                        {@Html.Raw("<tr class='success'>")}
                        else if (item.Status == "Complete")
                        {@Html.Raw("<tr class='info'>")}

                    <td>@Html.DisplayFor(modelItem => item.BatchId).@Html.DisplayFor(modelItem => item.BatchVersion) </td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.SimId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sim.Ecu.EcuModel)</td>
                    <td>@Html.DisplayFor(modelItem => item.TesterUser.FirstName) @Html.DisplayFor(modelItem => item.TesterUser.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
            @if (item.Status == "Queued")
            {<button type='submit' class='btn btn-danger' asp-action="Remove" asp-route-id="@item.BatchId">Remove from Queue</button>}
            else if (item.Status == "Complete")
            {<button type="submit" class='btn btn-info' asp-controller="Batches" asp-action="Results" asp-route-id="@item.BatchId" asp-route-version="@item.BatchVersion">View Results</button> <button type='submit' class='btn btn-danger' asp-action="Remove" asp-route-id="@item.BatchId">Remove</button>}
    </td>
    @Html.Raw("</tr>")
}
}
                </tbody>
            </table>
        </form>
    </div>